.calendar {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-color: #fff; /* #fff; white, #fff4e6; Soft peach background */
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: fit-content;/*fit-content; 100%;*/
  margin: auto;
}

.month {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* This creates 7 columns of equal width */
  grid-gap: 20px; /* This adds space between the grid items */
  flex-wrap: wrap;
  justify-content: start;
  text-align: center;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* This creates 7 columns of equal width */
  grid-gap: 20px; /* This adds space between the grid items */
  flex-wrap: wrap;
  justify-content: start;
  text-align: center;
}

.special-day {
  color: #d14;
  font-weight: bold;
  position: relative;
}

.special-day span {
  position: absolute;
  right: -15px;
  bottom: -15px;
  background-color: #d14;
  color: #fff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 0.7em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.sunday {
  color: red;
}
