:root {
  --main-bg-color: #fbfbfb; /* #fff4e6 Soft peach background */
  --max-window: 430px;
}

@media {
  body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff4e6;
  }
}

/* PC 환경에서 모바일처럼 보여주고 싶을 때 outer margin의 배경색을 조절하세요. */
.outer {
  width: 100%;
  max-width: var(--max-window);
  padding: 0;
  margin: auto;
  background: var(--main-bg-color);
}

.MainContainer {
  width: 100%; /* Full width on smaller screens */
  max-width: var(--max-window); /* Maximum width on larger screens */
  margin-left: auto; /* Center the container */
  margin-right: auto; /* Center the container */
  padding: 20px; /* Optional: Padding inside the container */
  box-sizing: border-box;
}

@media {
  .item {
    float: left;
    width: 100%; /* Full width on mobile */
    padding: 10px;
  }
}
